#drum-machine{
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 60%;
    border: 1px solid black;
}

#display{
    position: absolute;
    top: -10%;
    left: 25%;

}

#drum-pad-display{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    width: 100%;
    height: 100%;
}

.drum-pad{
    height: 100%;
    width: 100%;
    cursor: pointer;
    text-align: center;
    border: 1px solid black;
}

.drum-selection{    
    padding: 0;
    margin-top: 2rem;
}

.key{
    position: relative;
    top: 3rem;
}

@media only screen and (max-width: 500px){
    .key{
        top: 1rem;
    }
}

@media only screen and (min-width: 500px){
    #display{
        left: 25%;
    }
}
@media only screen and (min-width: 950px){
    #display{
        left: 37%;
    }
}

@media only screen and (min-width: 1550px){
    #display{
        left: 40%;
    }
}